
body {
    margin: 0;
    padding: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;
    color: #dddddd;
    background: #eeeeee;
}

header {

    float: left;
    background-color: #ffffff;
    border-color: #cccccc;
    width: 960px;
}

.tabs {

    display: inline;
    float: left;
}


h1 {
    text-align: left; 
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: black;
    color: white;
    width: 300px;
}

h2 {
    font-size: 24px;
}

a {
    color: red;
}

.image, .main, .contact {
    float: left;
}

.main {
    width: 60%;
}

.contact {
    width: 40%;
}