/* 

8/7/2019 

CSS lecture notes -  

html alone is like writing papers in notepad 

html and css together is like writing papers in microsoft word 

CSS works by hooking onto selectors added into HTML using classes and identifiers 

Once hooked, we apply styles to those html elements using CSS 

formatting - 
a {background-color: yellow; }

We can incorporate an element's class or ID to apply a CSS style to a particular part of the document.  Just remember to include the necessary symbol before the CSS: "." for class, "#" for ID.


Example in HTML

<p class="bigBlue">Header</p>

Example in CSS: 

.bigBlue
{
    font=side: 100px;
    color: blue;
}

Difference between class and ID attributes: 
an element can have infinite number of classes.  It can only have one ID.   

You can use IDs in a tags to allow the user to click a link and go to where the ID was specified

Example:
<p id="text> blah blah blah </p>
<a href='#text'></a>

Key CSS Attributes:

color: sets color of text
font-size: sets size of the font
font-style: sets italics
font-weight: sets bold
padding: adds space between the element and its own border
margin adds space between element and surrounding elements
float: forces elements to the sides, centers or tops
background-color
background-image

*/ 

/* different browsers have different base settings for margin and padding, so want to make sure to set these to 0. */
body {
    margin: 0;
    padding: 0;
}



